
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.image-box {
    flex: 1 1 300px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 8px;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    
}

a {
    color: #ffffff;
}

.image-box a img {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-box a:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.text-box {
    flex: 2 1 300px;
    padding: 1rem;
}

.textbox a {
    color: #ffffff;
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }
}
